body{
  margin:0;
  background:black;
  overflow:hidden;
}

#scene{
  width:1266px;
  height:2250px;
  margin:auto;
  position:relative;
  overflow:hidden;
}

#bg{
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
}

/* машина */
#car{
  position:absolute;
  bottom:120px;
  left:-700px;
  width:650px;
  transition:all 1.2s ease;
}

/* маша */
#masha{
  position:absolute;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
  width:520px;
  display:none;
}

/* коробка */
#box{
  position:absolute;
  bottom:150px;
  left:50%;
  transform:translateX(-50%);
  width:260px;
  display:none;
}

/* tap */
#tap{
  position:absolute;
  bottom:250px;
  left:50%;
  transform:translateX(-50%);
  width:90px;
  height:90px;
  border-radius:50%;
  border:3px solid white;
}

#tap::after{
  content:"";
  position:absolute;
  width:90px;
  height:90px;
  border-radius:50%;
  border:3px solid white;
  animation:pulse 1.5s infinite;
}

@keyframes pulse{
  0%{transform:scale(1);opacity:1;}
  100%{transform:scale(2);opacity:0;}
}

/* феншуй */
#fengBtn{
  position:absolute;
  bottom:120px;
  left:50%;
  transform:translateX(-50%);
  padding:20px 50px;
  background:rgba(255,255,255,0.2);
  color:white;
  border-radius:40px;
  display:none;
}

/* ТРЯСКА (виправлена) */
@keyframes shake{
  0%{transform:translate(-50%,0);}
  20%{transform:translate(-40%,-120px);}
  40%{transform:translate(-60%,120px);}
  60%{transform:translate(-45%,-80px);}
  80%{transform:translate(-55%,80px);}
  100%{transform:translate(-50%,0);}
}

/* серце */
#heart{
  position:absolute;
  top:25%;
  left:25%;
  width:50%;
  display:none;
  animation:beat 1s infinite;
}

#heart img{
  width:100%;
}

@keyframes beat{
  0%{transform:scale(1);}
  50%{transform:scale(1.2);}
  100%{transform:scale(1);}
}

/* КНОПКА ТИКНИ */
#tapHeart{
  position:absolute;
  bottom:200px;
  left:50%;
  transform:translateX(-50%);
  padding:25px 80px;
  background:pink;
  color:black;
  font-size:40px;
  border-radius:50px;
  display:none;
  z-index:20;
}

/* титри */
.text{
  position:absolute;
  font-size:60px;
  font-weight:bold;
  animation:move linear infinite;
}

@keyframes move{
  from{left:-300px;}
  to{left:1400px;}
}

#video{
  position:absolute;
  width:100%;
  height:100%;
  display:none;
  z-index:50;
}